header {
	padding: 20px 30px 10px;
	background: black;

	@media screen and (min-width: 500px) {
		padding: 0px 30px;
		background: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	h1 {
		margin: 0;
		text-align: center;
		color: white;

		@media screen and (min-width: 500px) {
			margin: 20px 0px 10px;
			color: black;
			text-align: left;
		}
	}

	.copy-text {
		display: none;

		@media screen and (min-width: 500px) {
			display: inline;
		}

		a {
			text-decoration: none;
			color: $darkText;

			&:hover,
			&:focus {
				text-decoration: underline;
			}	
		}
	}

	.btn {
		display: none;

		@media screen and (min-width: 500px) {
			display: inline-block;
		}
	}
}

.pomodoro-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 50px;

	@media screen and (min-width: 500px) {
		margin-top: 10px;
	}

	.pomodoro-outer {
		width: 100%;
		height: auto;

		@media screen and (min-width: 500px) {
			width: 500px;
			height: 500px;
			background: black;
			border-radius: 50%;
		}

		@media screen and (min-width: 768px) {
			width: 600px;
			height: 600px;
		}

		display: flex;
		justify-content: center;
		align-items: center;

		.pomodoro-inner {
			width: 100%;
			height: auto;

			@media screen and (min-width: 500px) {
				width: 450px;
				height: 450px;
				background: white;
				border-radius: 50%;
			}

			@media screen and (min-width: 768px) {
				width: 550px;
				height: 550px;
			}

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h2, h4 {
				margin: 0;
			}

			h2 {
				font-size: 3.0rem;

				@media screen and (min-width: 500px) {
					font-size: 4.0rem;
				}

				@media screen and (min-width: 768px) {
					font-size: 5.0rem;
				}
			}

			h4 {
				font-size: 2.0rem;

				@media screen and (min-width: 768px) {
					font-size: 3.0rem;
				}
			}

			.work-time,
			.break-time {
				display: flex;
				flex-direction: row;
				align-items: center;
				@include paddingX(20px);

				button {
					background: none;
					border: none;

					&[disabled] {
						color: $btnDisabled;

						&:hover {
							cursor: not-allowed;
						}
					}
				}

				.timer {
					width: 225px;
					text-align: center;

					@media screen and (min-width: 500px) {
						width: 300px;
					}
				}
			}

			.work-time {
				font-size: 4.0rem;
				margin-bottom: 20px;

				@media screen and (min-width: 500px) {
					font-size: 5.0rem;
				}

				@media screem and (min-width: 768px) {
					font-size: 6.0rem;
					margin-bottom: 35px;
				}

				button {
					font-size: 2.5rem;

					@media screen and (min-width: 500px) {
						font-size: 3.5rem;
					}

					@media screen and (min-width: 768px) {
						font-size: 4.5rem;
					}
				}
			}

			.break-time {
				font-size: 2.0rem;

				@media screen and (min-width: 500px) {
					font-size: 3.0rem;
				}

				@media screen and (min-width: 768px) {
					font-size: 4.0rem;
				}

				button {
					font-size: 2.5rem;
				}
			}

			.control-box {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				width: 300px;
				margin-top: 20px;

				@media screen and (min-width: 500px) {
					margin-top: 0;
				}

				.start-button-container,
				.reset-button-container {
					display: flex;
				}

				.start-button-container,
				.pause-button-container,
				.reset-button-container {
					flex-direction: column;
					align-items: center;

					button {
						padding: 0;
						border: 3px solid black;
						background: white;
						border-radius: 50%;
						width: 40px;
						height: 40px;
						margin-bottom: 5px;
					}
				}

				.pause-button-container {
					display: none;
				}

				.reset-button-container {
					button[disabled] {
						background: $btnDisabled;

						&:hover {
							cursor: not-allowed;
						}
					}
				}
			}
		}
	}
}